<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h3>Veja as últimas 3 frases!</h3>
    <% posts.forEach(post => { %>
        <p><%= post.frase %></p>
        <p><%= post.tags %></p>
        <p><%= post.author.name %>, <%= post.createdAt %> </p>
        <hr>
    <% }) %>


    <a href="/logout">Logout</a>
</body>
</html>