body {
    background-color: #F5F5F5;
}

section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.card {
    width: 30%
}